<footer>
    <div class="firma mb-3">Jordi Mas</div>

    <div class="icones-contacte mb-4">
        <a href="https://jordimas96.github.io/">
            <i class="jmas"></i>
        </a>
        <a href="https://github.com/bunquer-descarregador/bunquer-descarregador.github.io">
            <i class="github"></i>
        </a>
        <a href="https://www.linkedin.com/in/jordimas96/">
            <i class="linkedin"></i>
        </a>
    </div>
    
    <div class="legal">
        Aquest projecte és independent. No està afiliat a 3Cat ni a Catalunya Ràdio.<br>
        Aquesta web <b>NO</b> allotja cap arxiu.
        <a href="https://bunquer-descarregador.github.io/AVIS-LEGAL">Avís legal</a>
    </div>
</footer>
