@import "src/styles.scss";

footer {
    background-color: #4e0012;

    padding: 2rem 1rem;

    margin-top: 6rem;

    text-align: center;

    .firma {
        color: hsl(346, 100%, 68%);
            
        font-size: 1.5rem;

        font-weight: bold;
        font-style: italic;
        letter-spacing: 1px;
    }

    .icones-contacte {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        a {
            opacity: 0.7;
            transition: opacity 0.15s, scale 0.15s;

            &:hover {
                opacity: 1;
                scale: 1.2;
            }

            i {
                background-color: hsla(346, 100%, 82%);

                display: block;
                width: 2.5rem;
                height: 2.5rem;

                &.jmas { mask: url("/assets/footer/jmas.svg") no-repeat center / 100%; }
                &.github { mask: url("/assets/footer/github.svg") no-repeat center / 100%; }
                &.linkedin {
                    mask: url("/assets/footer/linkedin.png") no-repeat center / 100%;
                    scale: calc(177/200); // Quadrat //
                }
            }
        }
    }

    .legal {
        color: hsla(346, 100%, 88%, 0.512);
        
        font-size: 1rem;
        font-style: italic;

        a {
            color: inherit;
            

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
