
<div class="content">

    <button class="boto tancar" (click)="dialogRef.close()">
        <i class="fa-solid fa-xmark"></i>
    </button>

    <h1 class="mx-4">Selecciona els capítols</h1>

    <section>
        <h4 class="mt-5 mb-4">Temporades:</h4>
        <div class="mt-2 mb-5 botons-temporades">
            @for (boto of botonsTemporades; track boto.id) {
                <label [class.selected]="seleccio[boto.id]" [class.disabled]="cs.descarregant">
                    <input type="checkbox" (change)="seleccioChange()" [disabled]="cs.descarregant" [(ngModel)]="seleccio[boto.id]">
                    {{ boto.text }}
                </label>
            }
        </div>
    </section>

    
    @if (llistaSeleccionada.length) {
        <section class="pb-4">
            <h4 class="mb-4">Rang de capítols seleccionats:</h4>
            <p-slider class="my-2" [(ngModel)]="rangCapitols" [range]="true" [min]="0" [max]="maxRang" step="1" [disabled]="cs.descarregant"></p-slider>
        </section>

        <section class="mt-4 mb-4">
            <h4 class="mt-2 mb-3">Capítols seleccionats:</h4>
            <div class="info-capitols-seleccionats">
                <div class="card info-capitol">
                    <div class="titol mb-2">Des de:</div>
                    <div class="nom">{{ llistaSeleccionada[rangCapitols[0]].title }}</div>
                </div>
                <div class="card info-capitol">
                    <div class="titol mb-2">Fins a:</div>
                    <div class="nom">{{ llistaSeleccionada[rangCapitols[1]].title }}</div>
                </div>
            </div>
        </section>

        @if (!cs.descarregant) {
            <section class="preview-descarrega card">
                <div class="marcadors-descarrega mb-3">
                    <div class="marcador numero">{{ capitolsSeleccionats.length }} capítols</div>
                    <div class="marcador pes">{{ midaDescarregaString }}</div>
                    <div class="marcador temps-estimat">{{ tempsEstimatDescarregaString }}</div>
                </div>
                <button class="boto descarregar boing" (click)="descarregar()">
                    <i class="fa-solid fa-download me-2"></i>
                    Descarrega
                </button>
            </section>
        } @else {
            <div class="progres-descarrega">
                <h4 class="mb-4">
                    Descarregant ({{ cs.progresDescarrega!.descarregats }} / {{ cs.progresDescarrega!.total }})
                    <span class="temps-restant"> - {{ tempsRestantString }} restants</span>
                </h4>
                <div class="arxiu-actual-descarregant">{{ cs.progresDescarrega?.arxiuActualDescarregant?.title || "&nbsp;" }}</div>

                <div class="barra-progres mt-2">
                    <div class="total">
                        <div class="progres"
                            [style.width.%]="cs.progresDescarrega!.descarregats / cs.progresDescarrega!.total * 100"
                            [style.--lum]="30 + (cs.progresDescarrega!.descarregats / cs.progresDescarrega!.total * (100 - 30)) + '%'"
                        ></div>
                    </div>
                </div>

                <button class="boto cancelar mt-3" (click)="cancelar()" [disabled]="!cs.seguirDescarregant">
                    @if (cs.seguirDescarregant) { Cancel·la }
                    @else { Cancel·lant... }
                </button>
            </div>
        }
    }


</div>
