@import "src/styles.scss";

.content {
    display: block;

    height: 90vh;
    overflow-y: auto;

    background-color: #91002243;
    backdrop-filter: blur(20px);

    // max-width: 720px;
    min-width: 90vw;
    text-align: center;

    padding: 2rem;
    border-radius: 2rem;

    font-size: 1.5rem;


    .botons-temporades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;

        label {
            @extend .noselect;

            cursor: pointer;
            font-size: 1.5rem;

            background-color: #fff2;

            &.selected {
                background-color: #ffa4ba;
                color: #80001e;
                font-weight: bold;
            }
            &.disabled {
                opacity: 0.5;
                cursor: default;
                filter: saturate(0.5);
            }

            border-radius: 2rem;
            padding: 0.5rem 1rem;

            input[type=checkbox] {
                display: none;
            }
        }
    }

    p-slider {
        --p-slider-range-background: #f61e50;
        --p-slider-handle-content-background: #ff7696;
        &.p-disabled {
            filter: saturate(0.5);
        }
    }

    .info-capitols-seleccionats {
        text-align: left;

        .des-de, .fins-a {
            display: inline-block;

            background-color: #ff95ae41;
            // color: #600016;
            border-radius: 2rem;
            padding: 0.2rem 1rem;
        }
        .titol-capitol {
            font-size: 1.2rem;
            height: 90px;
        }
    }
    .boto.descarregar {
        background-color: #ffa4ba;
        color: #80001e;
        font-size: 1.5rem;
        border-radius: 3rem;
        padding: 1.5rem 2.5rem;
        font-weight: bold;
    }

    .progres-descarrega {
        

        .barra-progres {
            .total {
                height: 1.5rem;
                background-color: #78001c;
                border-radius: 0.4rem;

                .progres {
                    background-color: #f61e50;
                    width: 20%;
                    height: 100%;
                    border-radius: inherit;
                    transition: 0.3s width;
                }
            }
        }
    }
}

.text-80 {
    color: rgba(255, 255, 255, 0.8);
}
