@import "src/styles.scss";

:host {
    display: block;
    margin-bottom: 2rem; // Espai no clickable com a backdrop :/ //
}

.content {
    display: block;


    background-color: #91002243;
    color: white;
    backdrop-filter: blur(60px);
    
    text-align: center;

    padding: 2rem;
    border-radius: 2rem;

    font-size: 1.5rem;
    
    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.6);
    
    .boto.tancar {
        position: absolute;
        top: 0;
        right: 0;

        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.5rem;
        border-radius: 3rem;
        margin: 1rem;
        
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(255, 164, 186, 0.30);
        color: #ffffff;
    }


    .botons-temporades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        margin: 0 -1rem;

        label {
            @extend .noselect;

            cursor: pointer;
            font-size: 1.5rem;

            @include mobil {
                font-size: 1.2rem;
            }

            background-color: #fff2;

            &.selected {
                background-color: #ffa4ba;
                color: #80001e;
                font-weight: bold;
            }
            &.disabled {
                opacity: 0.5;
                cursor: default;
                filter: saturate(0.5);
            }

            border-radius: 2rem;
            padding: 0.5rem 1rem;

            transition: background-color 0.3s, color 0.3s, font-weight 0.3s;

            input[type=checkbox] {
                display: none;
            }
        }
    }

    p-slider {
        --p-slider-track-size: 10px;
        --p-slider-range-background: #f61e50;
        --p-slider-track-background: #ff61863d;
        --p-slider-handle-content-background: #ff7696;
        
        &.p-disabled {
            filter: saturate(0.5);
        }
    }

    .info-capitols-seleccionats {
        text-align: left;
        display: flex;
        gap: 0.25rem;

        @include mobil { flex-direction: column; }
        

        .info-capitol.card {
            
            // background-image: var(--fons);
            // background-size: cover;
            // background-position: center;
            
            position: relative;

            background-color: hsla(345, 100%, 82%, 0.12);
            padding: 1rem;

            flex: 1;

            border-radius: 2rem;
            z-index: 5;

            .fons {
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 2rem;
                opacity: 0.2;
                z-index: 0;
            }

            div {
                position: relative;
                z-index: 10;
            }

            .titol {
                color: hsl(345, 100%, 85%);
                border-radius: 2rem;
                padding: 0 1rem;
            }
            .nom {
                font-size: 1.2rem;
                min-height: 86px;
            }
        }
    }

    section.preview-descarrega {
        background-color: #ffa4ba40;
        border-radius: 2rem;
        padding: 1rem;

        .avis-moderacio {
            color: hsl(57, 100%, 50%)
        }

        .marcadors-descarrega {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: center;

            .marcador {
                padding: 0.5rem 1rem;
                border-radius: 2rem;
            }
            
            .numero { background-color: hsla(306, 100%, 80%, 0.5); }
            .pes { background-color: hsla(346, 100%, 80%, 0.5); }
            .temps-estimat { background-color: hsla(386, 100%, 80%, 0.5); }
        }

        .boto.descarregar {
            background-color: hsl(336, 100%, 79%);
            color: hsl(336, 100%, 25%);
            font-size: 1.5rem;
            border-radius: 3rem;
            padding: 1.5rem 2.5rem;
            font-weight: bold;
        }
    }

    .progres-descarrega {
        background-color: #ffa4ba40;
        border-radius: 2rem;
        padding: 1.5rem 1rem;
        
        .temps-restant { opacity: 0.6; }
        
        .arxiu-actual-descarregant {
            font-size: 1.2rem;
            @include mobil {
                font-size: 1rem;
                height: 4.5rem;
            }
            opacity: 0.6;
        }

        .barra-progres {
            .total {
                height: 1.5rem;
                background-color: #78001c;
                border-radius: 0.4rem;

                .progres {
                    background-color: hsl(346, 92%, var(--lum));
                    width: 20%;
                    height: 100%;
                    border-radius: inherit;
                    transition: width 0.3s, background-color 0.3s;
                }
            }
        }

        .boto.cancelar {
            background-color: #dd0034;
            color: #fff;
            font-size: 1.5rem;
            border-radius: 3rem;
            padding: 0.5rem 1.5rem;
            font-weight: bold;

            &:disabled { opacity: 0.5; }
        }
    }
}

.text-80 {
    color: rgba(255, 255, 255, 0.8);
}

// section {
//     background-color: #ffa4ba40;
//     border-radius: 1.5rem;
//     margin-bottom: 1rem;
//     padding: 1rem;
// }
