<section class="descarrega-multiple card">
    <div class="d-flex flex-wrap column-gap-2 row-gap-3 justify-content-between align-items-center m-2 mb-4">
        <h3 class="text-start mb-0 ps-2">Descarrega'ls tots de cop:</h3>
        <div class="botons-rapids ms-auto">
            @if (!seleccioBuida) {
                <button class="boto esborrar" (click)="esborrarSeleccio()"><i class="fa-solid fa-xmark"></i></button>
            }
            <button class="boto seleccionar" (click)="seleccionarTotesTemporades()">Seleccionar les 5 temporades (~ 25 min)</button>
        </div>
    </div>

    <section>
        <h4 class="mt-5 mb-4">Temporades:</h4>
        <div class="botons-temporades mt-2">
            @for (boto of botonsTemporades; track boto.id) {
                <label [class.selected]="seleccio[boto.id]" [class.disabled]="cs.descarregant">
                    @if (seleccio[boto.id]) {
                        <i class="fa-solid fa-check me-1"></i>
                    }
                    <input type="checkbox" (change)="seleccioChange()" [disabled]="cs.descarregant" [(ngModel)]="seleccio[boto.id]">
                    {{ boto.text }}
                </label>
            }
        </div>
    </section>

    
    @if (llistaSeleccionada.length) {
        <section class="pb-4 mt-5">
            <h4 class="mb-4">Rang de capítols seleccionats:</h4>
            <p-slider class="my-2 mx-2" [(ngModel)]="rangCapitols" [range]="true" [min]="0" [max]="maxRang" step="1" [disabled]="cs.descarregant"></p-slider>
        </section>

        <section class="mt-4 mb-4">
            <h4 class="mt-2 mb-3">Capítols seleccionats:</h4>
            <div class="info-capitols-seleccionats">
                <div class="card info-capitol">
                    <div class="titol mb-2">Des de:</div>
                    <div class="nom">{{ llistaSeleccionada[rangCapitols[0]].title }}</div>
                    @if (llistaSeleccionada[rangCapitols[0]].imatge) {
                        <img class="fons" [src]="llistaSeleccionada[rangCapitols[0]].imatge">
                    }
                </div>
                <div class="card info-capitol">
                    <div class="titol mb-2">Fins a:</div>
                    <div class="nom">{{ llistaSeleccionada[rangCapitols[1]].title }}</div>
                    @if (llistaSeleccionada[rangCapitols[1]].imatge) {
                        <img class="fons" [src]="llistaSeleccionada[rangCapitols[1]].imatge">
                    }
                </div>
            </div>
        </section>

        @if (!cs.descarregant) {
            <section class="preview-descarrega card">
                
                @if (capitolsSeleccionats.length > 200) {
                    <div class="avis-moderacio mb-3">Avís: utilitzar amb moderació</div>
                }

                <div class="marcadors-descarrega mb-3">
                    <div class="marcador numero">{{ capitolsSeleccionats.length }} capítols</div>
                    <div class="marcador pes">{{ midaDescarregaString }}</div>
                    <div class="marcador temps-estimat">{{ tempsEstimatDescarregaString }}</div>
                </div>
                <button class="boto descarregar boing" (click)="descarregar()">
                    <i class="fa-solid fa-download me-2"></i>
                    Descarrega
                </button>
            </section>
        } @else {
            <div class="progres-descarrega">
                <h4 class="mb-4">
                    Descarregant ({{ cs.progresDescarrega!.descarregats }} / {{ cs.progresDescarrega!.total }})
                    <span class="temps-restant"> - {{ tempsRestantString }} restants</span>
                </h4>
                <div class="arxiu-actual-descarregant">{{ cs.progresDescarrega?.arxiuActualDescarregant?.title || "&nbsp;" }}</div>

                <div class="barra-progres mt-2">
                    <div class="total">
                        <div class="progres"
                            [style.width.%]="cs.progresDescarrega!.descarregats / cs.progresDescarrega!.total * 100"
                            [style.--lum]="30 + (cs.progresDescarrega!.descarregats / cs.progresDescarrega!.total * (100 - 30)) + '%'"
                        ></div>
                    </div>
                </div>

                <button class="boto cancelar mt-3" (click)="cancelar()" [disabled]="!cs.seguirDescarregant">
                    @if (cs.seguirDescarregant) { Cancel·la }
                    @else { Cancel·lant... }
                </button>
            </div>
        }
    }
</section>
