@import "src/styles.scss";


header {
    position: sticky;
    top: 0;
    backdrop-filter: saturate(1) blur(20px);
    display: flex;
    height: 6rem;
    @include mobil {
        height: 4rem;
    }
    align-items: center;
    gap: 0.5rem;

    z-index: 1;
    
    img.logo {
        max-height: 100%;
        max-width: 60%;
        padding: 0.5rem;
        padding-left: 1.5rem;

        position: static;
        @include gran {
            position: absolute;
        }
    }
    .titol-header {
        font-size: calc(1.325rem + 1.2vw);
        line-height: 2.5rem;
        @include mobil {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
        letter-spacing: 1px;
        color: white;
        font-weight: normal;
        font-style: italic;

        padding: 0.5rem;

        transition: opacity 0.3s;
    }
}

.content {
    max-width: 1200px;
    margin: auto;

    font-size: 0.5rem;

    padding: 0 1rem;
    @include mobil { padding: 0 0.5rem; }

    .titol-pagina {
        font-size: calc(1.325rem + 1.7vw);
        line-height: 2.5rem;
        color: white;

        text-align: center;

        padding: 0.5rem;
        margin: 4rem 0;

        transition: opacity 0.3s;
    }

    .descarrega-bloc.card {
        background-color: #480011;
        border-radius: 2rem;
        padding: 1rem;
    }

    .boto.descarregar-en-grup {
        background-color: #ffa4ba;
        color: #80001e;
        font-size: 1.5rem;
        border-radius: 3rem;
        padding: 1.5rem 2.5rem;
        font-weight: bold;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    background-color: #4e0012;
    margin-top: 6rem;
    padding: 2rem 1rem;

    text-align: center;

    // min-height: 13rem;

    .firma {
        display: flex;
        align-items: center;
        gap: 1rem;
        
        text-decoration: none;


        &:hover {
            .text {
                text-decoration: underline;
            }
        }

        .logo {
            height: 3rem;
            border-radius: 50%;
            
        }
        .text {
                
            display: block;

            color: hsl(346, 100%, 68%);
            
            font-size: 1.5rem;
            @include mobil {
                font-size: 1rem;
            }

            font-weight: bold;
            font-style: italic;
        }
    }

    .legal {
        color: hsla(346, 100%, 88%, 0.512);
        
        font-size: 1rem;
        font-style: italic;

        a {
            color: inherit;
            

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


// Eliminar estils modal //
::ng-deep .p-dialog-mask.p-overlay-mask {
    --p-mask-background: transparent;
    overflow-y: auto;
    padding-right: 15px;
    padding: 0 0.5rem;

    .p-dialog.modal-descarrega-bloc {
        --p-dialog-background: none;
        --p-dialog-border-color: none;
        --p-dialog-border-radius: 2rem;
        border: none !important;

        max-width: 1200px;
        width: 100%;

        .p-dialog-header { display: none; }
        .p-dialog-content {
            padding: 0;
            background: none;
            overflow-y: visible;
        }
    }
}
