<div class="content">
    <h1 class="titol-pagina text-center">Descarregador de capítols d'El búnquer</h1>


    <div class="text-center mb-5">
        <button class="rs boto descarregar-en-grup" (click)="obrirModal()">
            <i class="fa-solid fa-list-check"></i>
            Descarrega en grup
        </button>
    </div>

    <div class="selector-tabs">
        <button
            class="boto"
            (click)="tabSeleccionat = 'capitols'"
            [class.selected]="tabSeleccionat == 'capitols'">
            Capítols
        </button>
        <button
            class="boto"
            (click)="tabSeleccionat = 'especials'"
            [class.selected]="tabSeleccionat == 'especials'">
            Especials
        </button>
        <button
            class="boto"
            (click)="tabSeleccionat = 'millors'"
            [class.selected]="tabSeleccionat == 'millors'">
            Millors moments
        </button>
    </div>


    <div class="llista-capitols mt-5">
        <table class="taula capitols">
            @for (capitol of cs.getLlista(tabSeleccionat); track capitol.title) {
                @if (capitol.capitol == 1 || capitol.ordre == 1 || capitol.setmana == 1) {
                    <tr class="fila-temporada">
                        <td colspan="5">
                            <h1 class="titol">Temporada {{capitol.temporada}}</h1>
                        </td>
                    </tr>

                    
                    <tr class="header">
                        <!-- <th>T.</th> -->
                        @if (tabSeleccionat != 'especials') {
                            <th class="text-center">
                                @if (tabSeleccionat == 'capitols') { Cap. }
                                @if (tabSeleccionat == 'millors') { Setmana }
                            </th>
                        }
                        <th>Títol</th>
                        <th>Descarrega / Escolta</th>
                    </tr>
                    
                }
                <tr class="fila">
                    <!-- <td class="temporada">{{capitol.temporada}}</td> -->
                    @if (tabSeleccionat != 'especials') {
                        <td class="capitol text-center">{{ capitol.capitol || capitol.setmana }}</td>
                    }
                    <td class="titol">{{ capitol.titolMostrar }}</td>
                    <td>
                        <div class="botons">
                            <button class="descarregar boto boing" (click)="cs.descarregarCapitol(capitol)" title="Descarrega MP3" [disabled]="capitol.descarregant">
                                @if (!capitol.descarregant) {
                                    <i class="fa-solid fa-download"></i>
                                } @else {
                                    <p-progress-spinner strokeWidth="6" />
                                }
                            </button>
                            <a class="escoltar boto boing" [href]="capitol.urlPagina" target="_blank" title="Ecolta a 3Cat">
                                <i class="fa-solid fa-play"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    







    
</div>

<footer class="text-center">
    <a class="firma boing" href="https://jordimas96.github.io/">- Desenvolupat per Jordi Mas -</a>
</footer>
