@import "src/styles.scss";

.content {
    // max-width: 940px;
    margin: auto;

    font-size: 0.5rem;


    h1.titol-pagina {
        color: #f61e50;
        font-weight: bold;
        margin: 4rem 0;
        padding: 0 2rem;
    }

    .boto.descarregar-en-grup {
        background-color: #ffa4ba;
        color: #80001e;
        font-size: 1.5rem;
        border-radius: 3rem;
        padding: 1.5rem 2.5rem;
        font-weight: bold;
    }


    .selector-tabs {
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
        width: 100%;

        .boto {
            background-color: #530013;

            font-weight: bold;

            font-size: 1.5rem;
            padding: 0.5rem 1.5rem;
            border-radius: 0.75rem;

            @include mobil {
                font-size: 1.1rem;
                padding: 0.4rem 0.8rem;
                // border-radius: 2rem;
            }

            white-space: nowrap;

            &:hover {
                background-color: #592834;
            }
            &.selected {
                background-color: #ba002b;
                border-radius: 3rem;
            }

        }
    }

    .llista-capitols {
        .taula {
            font-size: 1.25rem;
            font-weight: 300;
            // width: 96%;
            margin: auto;

            overflow: hidden;
            
            tr.header {
                background-color: hsl(346, 92%, 20%);

                th {
                    padding: 1rem 1rem;
                    @include mobil { padding: 0.5rem 1rem; }
                    &:first-child { border-top-left-radius: 1.5rem; }
                    &:last-child { border-top-right-radius: 1.5rem; }
                }
            }
            th, td {
                padding: 0.25rem 0.5rem;
                text-align: center;
            }
           
            .fila-temporada {
                &:not(:first-of-type) {
                    td .titol {
                        margin-top: 7rem;
                    }
                }
                td .titol {
                    margin-bottom: 3rem;
                }
            }

            .fila {
                
                &:nth-child(even) { background-color: hsl(346, 30%, 10%); }
                &:nth-child(odd) { background-color: hsl(346, 30%, 13%) }

                &:hover {
                    background-color: #450010;
                }

                .titol {
                    text-align: left;
                    @include mobil { font-size: 1rem; }
                }
                td .botons {
                    display: flex;
                    row-gap: 0.25rem;
                    column-gap: 0.5rem;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                }

                .boto {

                    border-radius: 2rem;

                    &:disabled {
                        opacity: 0.5;
                        cursor: default;
                    }

                    &.descarregar {
                        background-color: #2d46ff;
                        &:hover { background-color: #00a2ff !important; }

                        padding: 0.5rem 2rem;
                        @include mobil {
                            padding: 0.5rem 1rem;
                            flex: 2;
                        }

                        p-progress-spinner {
                            width: 20px;
                            height: 20px;
                            vertical-align: middle;

                            ::ng-deep .p-progressspinner-circle {
                                stroke: white !important;
                            }
                        }
                    }

                    &.escoltar {
                        background-color: hsl(346, 100%, 25%);
                        &:hover { background-color: #dd0034 !important; }

                        padding: 0.5rem 1rem;
                        @include mobil {
                            padding: 0.5rem 1rem;
                            flex: 1;
                        }

                    }
                }
            }
        }
    }
}

footer {
    background-color: #4e0012;
    margin: 10rem -0.5rem -0.5rem;
    padding: 0.5rem;
    .firma {
        display: block;

        color: hsl(346, 100%, 68%);
        
        font-size: 1.5rem;

        font-weight: bold;
        font-style: italic;
        text-decoration: none;

        letter-spacing: 1px;

        margin: 5rem 2rem;

        &:hover {
            text-decoration: underline;
        }
    }
}


// Eliminar estils modal //
::ng-deep .modal-descarrega-bloc {
    --p-dialog-background: none;
    --p-dialog-border-color: none;
    --p-slider-track-size: 10px;
    --p-slider-track-background: #ff61863d;
    border: none !important;
    .p-dialog-header { display: none; }
    .p-dialog-content {
        padding: 0;
        background: none;
        overflow-y: visible;
    }
}
