@import "src/styles.scss";


header {
    position: sticky;
    top: 0;
    backdrop-filter: saturate(1) blur(20px);
    display: flex;
    height: 6rem;
    @include mobil {
        height: 4rem;
    }
    align-items: center;
    gap: 0.5rem;

    z-index: 1000;
    
    img.logo {
        max-height: 100%;
        max-width: 60%;
        padding: 0.5rem;
        padding-left: 1.5rem;

        position: static;
        @include gran {
            position: absolute;
        }
    }
    .titol-header {
        font-size: calc(1.325rem + 1.2vw);
        line-height: 2.5rem;
        @include mobil {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
        letter-spacing: 1px;
        color: white;
        font-weight: normal;
        font-style: italic;

        padding: 0.5rem;

        transition: opacity 0.3s;
    }
}

.content {
    max-width: 1200px;
    margin: auto;

    font-size: 0.5rem;

    padding: 0 1rem;
    @include mobil { padding: 0 0.5rem; }

    .titol-pagina {
        font-size: calc(1.325rem + 1.7vw);
        line-height: 2.5rem;
        color: white;

        text-align: center;

        padding: 0.5rem;
        margin: 4rem 0;

        transition: opacity 0.3s;
    }

    app-descarrega-multiple {
        margin-bottom: 6rem;
    }
}
