<div class="content">
    <h1 class="titol-pagina text-center">Descarregador de capítols d'El búnquer</h1>









    <div class="selector-tabs">
        <button
            (click)="tabSeleccionat = 'capitols'"
            [class.selected]="tabSeleccionat == 'capitols'">
            Capítols
        </button>
        <button
            (click)="tabSeleccionat = 'especials'"
            [class.selected]="tabSeleccionat == 'especials'">
            Especials
        </button>
        <button
            (click)="tabSeleccionat = 'millors'"
            [class.selected]="tabSeleccionat == 'millors'">
            Millors moments
        </button>
    </div>


    <div class="llista-capitols">
        <table class="taula capitols">
            <thead>
                <tr>
                    <th>Temporada</th>
                    <th class="text-center">
                        @if (tabSeleccionat == 'capitols') { Capítol }
                        @if (tabSeleccionat == 'especials') { Número }
                        @if (tabSeleccionat == 'millors') { Setmana }
                    </th>
                    <th></th>
                    <th>Títol</th>
                    <th>Descarregar</th>
                    <th>Veure</th>
                </tr>
            </thead>
            @for (capitol of cs.getLlista(tabSeleccionat); track capitol.title) {
                <tr class="fila" (click)="descarregar(capitol)" title="Descarregar MP3">
                    <td class="temporada">{{capitol.temporada}}</td>
                    <td class="capitol text-center">
                        {{ capitol.capitol || capitol.ordre || capitol.setmana }}
                    </td>
                    <td></td>
                    <td class="titol">{{capitol.title}}</td>
                    <td>
                        <button class="descarregar boto boing" (click)="descarregar(capitol)" title="Descarregar MP3">
                            <i class="fa-solid fa-cloud-arrow-down"></i>
                        </button>
                    </td>
                    <td>
                        <a class="veure boto boing" [href]="capitol.urlPagina" target="_blank" title="Ecoltar a 3Cat">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
    







    
</div>

<footer class="text-center">
    <a class="firma boing" href="https://jordimas96.github.io/">- Desenvolupat per Jordi Mas -</a>
</footer>
