<section class="descarrega-individual card">
    <h3 class="text-start m-2 mb-4 ps-2">Cerca i descarrega'ls d'un en un:</h3>

    <div class="buscador my-4">
        <input [(ngModel)]="textBuscar" placeholder="Cerca..." (input)="actLlistaFiltrada()">
    </div>

    @if (!textBuscar) {
        <!-- Normal -->
        <div class="llista-capitols text-center mt-5">
            @for (temporada of llistaPerTemporades; track $index) {
                <section class="temporada" [class.obert]="desplegablesOberts[$index]">
                    <button class="rs h1 mb-0 titol desplegable" (click)="desplegablesOberts[$index] = !desplegablesOberts[$index]">
                        @if (temporada[0].capitol) { Temporada {{ $index + 1 }} }
                        @else { Millors moments }
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>

                    <div class="content">

                        <div class="text-end mb-3">
                            <button class="boto descarregar-temporada" (click)="descarregaTemporada($index)">
                                <i class="fa-solid fa-download"></i>
                                Descarregar
                                @if (temporada[0].capitol) { temporada {{ $index + 1 }} }
                                @else { millors moments }
                            </button>
                        </div>

                        <table class="taula">
                            <tr class="header">
                                @if (!temporada[0].setmana) {
                                    <th class="px-2">Cap.</th>
                                }
                                <th>Títol</th>
                                <th>Desc. / Escolta</th>
                            </tr>
                            @for (capitol of temporada; track capitol.title) {
                                
                                <tr class="fila">
                                    @if (!capitol.setmana) {
                                        <td class="capitol">
                                            @if (capitol.capitol) {
                                                <span class="num-capitol">{{ capitol.temporada }}x</span>{{ capitol.capitol }}
                                            }
                                        </td>
                                    }
                                    <td class="titol" [style.--fons]="`url(${capitol.imatge})`">{{ capitol.titolMostrar }}</td>
                                    <td>
                                        <div class="botons">
                                            <button class="descarregar boto boing" (click)="cs.descarregarCapitol(capitol)" title="Descarrega MP3"
                                                [disabled]="capitol.descarregant" [class.descarregat]="capitol.descarregat">
                                                @if (capitol.descarregat) {
                                                    <i class="fa-solid fa-check"></i>
                                                } @else if (capitol.descarregant) {
                                                    <p-progress-spinner strokeWidth="6" />
                                                } @else {
                                                    <i class="fa-solid fa-download"></i>
                                                }
                                            </button>
                                            <a class="escoltar boto boing" [href]="capitol.urlPagina" target="_blank" title="Ecolta a 3Cat">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </section>
            }
        </div>
    } @else {
        <!-- Buscant -->
        <div class="llista-capitols filtrada text-center mt-5">
            @if (llistaFiltrada.length) {
                <h4 class="text-center fst-italic">{{ textNumResultats }}</h4>
                <div class="content">
                    <table class="taula capitols">
                        <tr class="header">
                            <th>Cap.</th>
                            <th>Títol</th>
                            <th>Desc. / Escolta</th>
                        </tr>
                        @for (capitol of llistaFiltrada; track capitol.title) {
                            <tr class="fila">
                                <td class="capitol">
                                    @if (capitol.capitol) {
                                        <span class="num-capitol">{{ capitol.temporada }}x</span>{{ capitol.capitol }}
                                    }
                                </td>
                                <td class="titol" [style.--fons]="`url(${capitol.imatge})`">{{ capitol.titolMostrar }}</td>
                                <td>
                                    <div class="botons">
                                        <button class="descarregar boto boing" (click)="cs.descarregarCapitol(capitol)" title="Descarrega MP3"
                                            [disabled]="capitol.descarregant" [class.descarregat]="capitol.descarregat">
                                            @if (capitol.descarregat) {
                                                <i class="fa-solid fa-check"></i>
                                            } @else if (capitol.descarregant) {
                                                <p-progress-spinner strokeWidth="6" />
                                            } @else {
                                                <i class="fa-solid fa-download"></i>
                                            }
                                        </button>
                                        <a class="escoltar boto boing" [href]="capitol.urlPagina" target="_blank" title="Ecolta a 3Cat">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            } @else {
                <h3 class="text-center fst-italic">Cap resultat</h3>
            }
        </div>
    }

</section>
