@import "src/styles.scss";

.descarrega-individual.card {
    background-color: #480011;
    border-radius: 2rem;
    padding: 1rem;

    .buscador {
        text-align: center;

        input {
            min-width: 20%;
            max-width: 80%;
            padding: 0.125rem 1.5rem;
            font-size: 2rem;

            background-color: #2f000b;
            color: #ffadbe;

            border-radius: 10rem;
            border: none;
            outline: none;

            &::placeholder {
                color: #ffadbe80;
            }
        }
    }

    .llista-capitols {

        section.temporada {
            display: flex;
            flex-direction: column;

            background-color: #ffacc033;
            border-radius: 2rem;
            margin: auto;
            margin-bottom: 1rem;
            overflow: hidden;

            width: fit-content;

            &.obert {
                .desplegable i {
                    rotate: -180deg;
                }
            }
            &:not(.obert) {
                
                .taula {
                    display: none;
                }
            }
        }

        button.titol.desplegable {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            width: 100%;
            padding: 0.5rem 1.25rem;
            outline: none;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            i {
                font-size: smaller;
            }
        }

        .taula {
            font-size: 1.25rem;
            font-weight: 300;
            // width: 96%;
            margin: 1rem;

            border-radius: 1.5rem;

            color: white;

            overflow: hidden;
            
            tr.header {
                background-color: hsl(346, 92%, 20%);

                th {
                    padding: 0.5rem 1rem;
                    @include mobil { padding: 0.5rem 1rem; }
                    &:first-child { border-top-left-radius: 1.5rem; }
                    &:last-child { border-top-right-radius: 1.5rem; }
                }
            }
            th, td {
                padding: 0.25rem 0.5rem;
                text-align: center;
            }

            .fila {
                
                &:nth-child(even) { background-color: hsl(346, 30%, 10%); }
                &:nth-child(odd) { background-color: hsl(346, 30%, 13%) }

                &:hover {
                    background-color: #501825;
                }

                .capitol {
                    .num-capitol {
                        color: #d6aeb7;
                        font-size: 1rem;
                        margin-right: 0.125rem;
                    }
                }

                .titol {
                    text-align: left;
                    @include mobil { font-size: 1rem; }
                }
                td .botons {
                    display: flex;
                    row-gap: 0.25rem;
                    column-gap: 0.5rem;
                    justify-content: center;
                    align-items: center;
                }

                .boto {
                    color: white;
                    border-radius: 2rem;

                    &:disabled {
                        opacity: 0.5;
                        cursor: default;
                    }

                    &.descarregar {
                        background-color: #2d46ff;
                        &:hover { background-color: #00a2ff !important; }

                        padding: 0.5rem 2rem;
                        @include mobil {
                            padding: 0.5rem 1rem;
                            flex: 2;
                        }

                        &.descarregat {
                            background-color: hsl(140, 76%, 34%);
                            color: rgb(163, 255, 126);
                            pointer-events: none;
                        }

                        p-progress-spinner {
                            width: 20px;
                            height: 20px;
                            vertical-align: middle;

                            ::ng-deep .p-progressspinner-circle {
                                stroke: white !important;
                            }
                        }
                    }

                    &.escoltar {
                        background-color: hsl(346, 100%, 25%);
                        &:hover { background-color: #dd0034 !important; }

                        padding: 0.5rem 1rem;
                        @include mobil {
                            padding: 0.5rem 1rem;
                            flex: 1;
                        }

                    }
                }
            }
        }
    }
}
